*{
    margin: 0;
    font-family: 'Work Sans';
}

/* Header Section */
.banner{
    background: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    height: 800px;
    text-align: right;
    padding-right: 200px;
}

.banner-title{
    font-weight: 750;
    font-size: 60px;
    color: white;
    padding-top: 200px;
    margin-bottom: 20px;
}

.banner-description{
    color: white;
    margin-bottom: 30px;
}

.banner-btn{
    font-size: 18px;
    font-weight: 600;
    color: blue;
    padding: 15px;
    border-radius: 5px;
    background: white;
    border: white;
    transition-duration: 0.4s;
}

.banner-btn:hover{
    background-color: #008CBA;
    color: white;
}

/* Main Body */

.upper-body{
    display: flex;
}

.upper-image-part{
    padding: 130px 80px 130px 150px;
}

.upper-text-part{
    padding-top: 350px;
    padding-left: 20px;
    text-align: left;
}

.upper-body-title{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.upper-body-description{
    margin-bottom: 15px;
    color: #444343;
}

.list-part{
    list-style: none;
    color: #444343;
    align-items: left;
    padding: 0;
}

li{
    padding-bottom: 5px;
}

.green-tick{
    height: 12px;
    padding-right: 10px;
}

/* Middle Body */

.middle-body{
    align-items: center;
    text-align: center;
}

.middle-body-title{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 50px;
    align-items: center;
}

.middle-body-image-part{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.image-title{
    padding-top: 20px;
    margin-bottom: 10px;
}

.image-text{
    color: grey;
}

/* lower body */
.lower-body{
    background-image: url(/images/gradient1.png),url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-bottom: 100px;
    margin-left: 235px;  
}

.lower-body-title{
    font-weight: 700;
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.lower-div{
    padding-left: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.body-btn{
    font-size: 18px;
    font-weight: 600;
    color: blue;
    padding: 15px 25px;
    border-radius: 5px;
    background: white;
    border: white;
    transition-duration: 0.4s;
}

.body-btn:hover{
    background-color: #008CBA;
    color: white;
}

/* footer */

.footer-part{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black ;
    padding-top: 100px;
    padding-bottom: 130px;
}

.footer-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-description{
    margin-bottom: 20px;
}

.email{
    margin-bottom: 20px;
}
.phone{
    margin-bottom: 30px;
}

.footer-icon{
    padding-right: 10px;
    height: 45px;
    width: 45px;
}

.subscribe{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.email-box{
    width: 300px;
    height: 50px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 20px;
    padding-left: 10px;
}

.submit{
    font-size: 18px;
    font-weight: 500;
    color: whitesmoke;
    padding: 15px 25px;
    border-radius: 5px;
    background: blue;
    border: white;
    transition-duration: 0.4s;
}